<footer>
    <ul>
        <li><a href="#" target="_blank"><i class="fa fa-3x fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-3x fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-3x fa-youtube"></i></a></li>
    </ul>
    <p>&copy; @DateTime.Now.Year Swishlist. All rights reserved.</p>
    <p>Built by <a href="//github.com/MattRyder">Matt Ryder</a>, design based on <a href="//html5up.net">Alpha</a></p>
</footer>