@model IEnumerable<Swishlist.Models.WishlistItem>
@using Swishlist.Models.Extensions;

@foreach (var item in Model) {
    <div class="content-block content-block-padded">
      @Html.Partial("~/Views/WishlistItems/_ItemDisplay.cshtml", item)
      @{
          var currentUser = User.Identity.GetCurrentUser();
          if (item.ReservingUser == null)
          {
              <div class="row">
                  @Html.ActionLink("Reserve", "Reserve", "WishlistItems", new { id = item.ID }, new { @class = "btn btn-default pull-right" })
              </div>
          } else if(Request.IsAuthenticated && item.ReservingUser.Id.Equals(currentUser.Id))
          {
              <div class="row">
                @Ajax.ActionLink(
               "Cancel Reservation",
               "CancelReservation",
               new { id = item.ID },
               new AjaxOptions()
               {
                 HttpMethod = "Post",
                 OnSuccess = "ReservationCancelledCallback();",
               },
               new { @class = "btn btn-danger" })
              </div>
          }
      }
    </div>
}

<script type="text/javascript">
  var ReservationCancelledCallback = function (a, b, c, d) {
    debugger;
  };
</script>